<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculus2</title>
</head>
<body>
<section>
  <h1>Techniques of integration</h1>
  <div>
    <h2>Intergration by parts</h2>
    <p>
      This is the integration rule that coresponds to the product rule for differentiation<br>
      <div>
    <h4>Intergration by parts:Indefinite integrals</h4>
      Product rule states that if f and g are differentiable functions then<br>
      d/dx[f(x)g(x)] = f(x)g'(x)+g(x)f'(x)<br><br>
      Hence integration by parts:indefinite integration becomes
<!--      formulae find the sign for intergration-->

      the formulae above is the formula for integration by parts.<br>
      <pre>
      Letting u=f(x)
              v=g(x)
              du = differentiation of u = f(x)dx
              dv = differentiation of v =g(x)dx
      </pre>
      then the formula becomes
<!--    write the formula first find how to write the integral sign in computers-->
    </p>
    </div>
    <div>
      <h4>Integration by parts:Definite integrals</h4>
      <p>
        This is done by combining the formula for integration by parts with part<br>
        2 of the fundamental thearem of calculus
<!--        state pat 2 of the fundamental thearem of calculus-->
        Evaluating both sides of the formula for integral part btwn a and b ,<br>
        assuming f' and g' are continuous and using the Fundamental theorem we obtain<br>
<!--        Write the formula-->
      </p>
    </div>
    <div>
      <h5>Reduction formula</h5>
      <p>
        Integration by parts often allows us to express one integral in terms of a simpler one<br>
        If the integrand contains a power of the function we can samoetimes<br>
        use the integration by parts to reduce the power.
<!--        write the reduction formula-->

      </p>
    </div>
    <div>
      <h3>Trigonometric integral</h3>
      <p>
        We use trigonometric identities to integrate certain combinations<br>
        of trigonometric functions.
        <div>
      <h5>Integral of powers of sine and cosine</h5>
      <p>We consider integral in which the integrand is a power of sine,cosine or product if these. </p>
      <strong>Strategy for evaluating #</strong>
      i. If power of cosine is odd (n=2k+1),save one cosine factor and use cos<sup>2</sup>x = 1-sin<sup>2</sup>x <br>
      to express the remaining factor in terms of sine.
<!--      write the needed formulae -->
      Then substitute u=sin(x)
      ii.If power of sine is odd(m=2k+1) save one sine factor and use sine factor and use<br>
      sin<sup>2</sup>x = 1-cosyyyy<sup>2</sup>x
      ∫
    </div>
      </p>
    </div>
  </div>
</section>
</body>
</html>