<!DOCTYPE html>
<html>
<head>
    <title>Interests</title>
</head>
<body>

<h2>Simple Interest</h2>
<p><strong>Formula:</strong> SI = (P × R × T) / 100</p>

<form method="POST">
    {% csrf_token %}

    <label>Principal</label><br>
    <input type="number" step="any" name="principal" required><br><br>

    <label>Rate (%)</label><br>
    <input type="number" step="any" name="rate" required><br><br>

    <label>Time</label><br>
    <input type="number" step="any" name="time" required><br><br>

    <button type="submit">Calculate</button>
</form>

{% if Sinterest %}
    <h3>Simple Interest: {{ Sinterest }}</h3>
{% endif %}
<hr>

<!--&lt;!&ndash;another calculator&ndash;&gt;-->
<!--<h2>Amount</h2>-->
<!--<p><strong>Formula:</strong> A = P(1+(r/100)*t)</p>-->
<!--<form method="POST">-->
<!--   {% csrf_token %}-->
<!--    <label>principal</label><br><br>-->
<!--    <input type="number" name="principal"><br><br>-->
<!--    <label>rate</label><br><br>-->
<!--    <input type="number" name="rate"><br><br>-->
<!--    <label>time</label><br><br>-->
<!--    <input type="number" step="any" name="time"><br><br>-->
<!--    <button type="submit">Calculate</button>-->
<!--</form>-->
<!--{% if Amount %}-->
<!--    <h3>Amount: {{ Amount }}</h3>-->
<!--{% endif %}-->
</body>
</html>